---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main class="container mx-auto">
		<h1 class="text-5xl text-purple-700">Testing Stuff</h1>

	</main>
</Layout>

